nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.character-container {
  display: flex;
}
.characterlist-container {
  padding: 15px;
  color: rgb(58, 95, 1);
  font-size: 1rem;
}
.character-img {
  width: 200px;
  border-radius: 25px;
  border-style: solid;
  border-color: greenyellow;
}
.character-img-in-page {
  width: 80%;
  border-radius: 25px;
  border-style: solid;
  border-color: greenyellow;
}
.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.character-card p,
h3 {
  text-align: center;
  color: rgb(58, 95, 1);
  font-size: 1.3rem;
}
.episode-main-container {
  width: 80%;
  text-align: center;
  color: rgb(58, 95, 1);
}
.entity-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border-style: solid;
  border-color: greenyellow;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  padding: 10px;
  color: white;
  background-color: rgb(88, 90, 87);
}
.entity-link {
  color: #000;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
.logo-container {
  display: flex;
  color: rgb(0, 0, 0);
}

.logo {
  width: 200px;
  height: 200px;
}
.logo-container h3 {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.location-container {
  text-align: center;
  color: rgb(58, 95, 1);
}
.search-container {
  justify-content: space-between;
  margin-top: 5%;
  margin-right: 10%;
}
@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .logo-container h3 {
    font-size: 1.5rem;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .loading-img {
    width: 100%;
  }
  .character-container {
    flex-direction: column;
  }
  .entity-link {
    margin: 0;
    padding: 0;
  }
  .episode-main-container {
    width: 100%;
  }
  .character-card p {
    padding: 0;
    margin: 0;
  }
  .location-container {
    font-size: 0.6rem;
  }
}
